body, html {
	height : 100%;
}

.container {
	position : relative;
	width    : 1280px;
	height   : 100%;
	margin   : auto;
	padding  : 0 58px;
	box-sizing: border-box;
}

.container .header {
	position : relative;
	padding  : 22px 0;
	overflow : hidden;
}

.container .header img {
	float : left;
}

.container .header .title {
	float       : left;
	font-size   : 25px;
	color       : #999;
	padding     : 44px 0 0 46px;
	font-weight : 600;
}

.container .header .links {
	float       : right;
	padding-top : 48px;
}

.container .header .links a {
	padding         : 0 13px;
	font-size       : 14px;
	color           : #999999;
	text-decoration : none;
	border-left     : 1px solid #E1E1E1;
}

.container .header .links a:first-child {
	border : none;
}

.container .header .bar {
	position   : absolute;
	left       : 0;
	bottom     : 0;
	width      : 100%;
	height     : 8px;
	background : linear-gradient(-180deg, #FFE69D 0%, #FFC00A 100%);
	filter     : progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFE69D, endColorStr=#FFC00A);
}

.container .main {
	position       : absolute;
	left           : 0;
	right          : 0;
	top            : 134px;
	bottom         : 76px;
	text-align     : center;
	vertical-align : middle;
}

.container .main:after {
	content        : '';
	display        : inline-block;
	height         : 100%;
	vertical-align : middle;
}

.container .main form {
	display        : inline-block;
	vertical-align : middle;
}

.container .main form .title {
	font-size : 22px;
	color     : #999999;
}

.container .main form .fields {
	margin-top : 40px;
	text-align : left;
}

.container .main form .field {
	position   : relative;
	margin-top : 19px;
	font-size  : 0;
}

.container .main form .field span {
	display        : inline-block;
	width          : 76px;
	font-size      : 19px;
	color          : #343434;
	vertical-align : middle;
}

.container .main form .field input {
	position       : relative;
	font-size      : 19px;
	width          : 384px;
	height         : 54px;
	line-height    : 54px;
	border         : 1px solid #D6D6D6;
	text-indent    : 14px;
	border-radius  : 4px;
	vertical-align : middle;
}

.container .main form .phone input {
	width : 270px;
}

.container .main form .code input {
	width        : 128px;
	text-indent  : 0;
	text-align   : center;
	margin-right : 6px;
}

.container .main form .code img {
	vertical-align : middle;
	float          : right;
	margin-top     : 1px;
	cursor         : pointer;
}

.container .main form .phone .btn {
	float         : right;
	font-size     : 16px;
	color         : #999999;
	padding       : 19px 9px;
	border        : 1px solid #D6D6D6;
	border-radius : 4px;
}

.container .main form .err-msg {
	font-size   : 14px;
	color       : #FF3742;
	padding     : 17px 0;
	text-align  : left;
	text-indent : 76px;
	
}

.container .main form .submit-btn {
	font-size     : 22px;
	color         : #FFFFFF;
	background    : #FFB901;
	border-radius : 4px;
	width         : 384px;
	padding       : 14px 0;
	margin-left   : 76px;
}

.container .footer {
	position   : absolute;
	bottom     : 0;
	left       : 58px;
	right      : 58px;
	padding    : 25px 0 34px 0;
	text-align : center;
	font-size  : 14px;
	color      : #999999;
	border-top : 1px solid #E5E5E5;
	background : url('../image/yuanbao.png') 100% 50% no-repeat;
}